In [1]:
def vol(rad):
    return (4/3) * 3.14 * (rad ** 3)

In [5]:
rad=5

In [6]:
vol(rad)

523.3333333333334

In [14]:
for item in range(0,5):
    print(item)

0
1
2
3
4

In [19]:
def ran_check(num, low, high):
    return num in range(low, high+1)

In [20]:
ran_check(4,2,5)

True

In [21]:
ran_check(5,2,7)

True

In [25]:
def ran_check(num,low,high):
    
    if num in range(low, high+1):
        print(f"{num} is in the range of {low} and {high}")
    else:
        print("Not in range")

In [26]:
ran_check(5,2,7)

5 is in the range of 2 and 7

Counting Uppercase and Lowercase Letters in a String

In [33]:
def up_low(s):
    lowercase = 0
    uppercase = 0
    for char in s:
        if char.isupper():
            uppercase += 1
        elif char.islower():
            lowercase += 1
        else:
            pass
    print(f"Original String: {s}")
    print(f"Lowercase count: {lowercase}")
    print(f"Uppercase count: {uppercase}")

In [34]:
s='Hello Mr.Rogers, How are you this fine Monday?'
up_low(s)

Original String: Hello Mr.Rogers, How are you this fine Monday?
Lowercase count: 31
Uppercase count: 5

Multiplying All Numbers in a List

In [41]:
def multiply(numbers):
    total = 1
    for num in numbers:
        total *= num
    return total

In [42]:
multiply([1,2,3,5,-6])

-180

Returning Unique Elements from a List

In [44]:
def unique_list(lst):
    return list(set(lst))

In [45]:
unique_list([1,1,1,1,2,2,3,])

[1, 2, 3]

Checking for Palindromes

In [48]:
def palindrome(s):
    s = s.replace(' ', '')
    return s == s[::-1]

In [50]:
palindrome('nurses run')

True

In [51]:
palindrome('nu rs es ru n')

True