1) convert this into a list and store each character in list : My Address is : 12 Anant Vihar 13 Sector

In [1]:
l='My Address is : 12 Anant Vihar 13 Sector'

In [15]:
cmd= l.split()

In [16]:
cmd

['My', 'Address', 'is', ':', '12', 'Anant', 'Vihar', '13', 'Sector']

2) convert this into a list and store each character in list - My Address is : 12, Anant Vihar, 13 Sector

In [10]:
n='My Address is : 12, Anant Vihar, 13 Sector'

In [11]:
char= n.split(',')

In [12]:
char

['My Address is : 12', ' Anant Vihar', ' 13 Sector']

3) Create a Calculator where number it should perform operations based on add, subtract, multiply divide operations based on instructions
For example
add 1,3
subtract 4,5
multiply 5,6
divide 4,2

In [101]:
N =int(input())
cmd=[]
for i in range(N):
    i=input()
    cmd=i.split()
    if cmd[0]=='add':
        num= cmd[1].split(',') 
        add=(int(num[0])+int(num[1]))
        cmd.append(add)
        print(cmd)
    elif cmd[0]=='subtract':
        num= cmd[1].split(',') 
        subtract=(int(num[0])-int(num[1]))
        cmd.append(subtract)
        print(cmd)
    elif cmd[0]=='multiply':
        num= cmd[1].split(',') 
        multiply=(int(num[0])*int(num[1]))
        cmd.append(multiply)
        print(cmd)
    elif cmd[0]=='divide':
        num= cmd[1].split(',') 
        divide=(int(num[0])//int(num[1]))
        cmd.append(divide)
    else:
        print('invalid')
print(cmd)

 4
 add 1,3

['add', '1,3', 4]

 subtract 4,5

['subtract', '4,5', -1]

 multiply 5,6

['multiply', '5,6', 30]

 divide 4,2

['divide', '4,2', 2]